.container{
text-align: center;
}
.class_nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.4);
}

.nav_tittle{
    padding-left: 10px;
}

.class_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.class_list li{
margin: 10px;

}

.class_list a{
    text-decoration: none;
    color: blueviolet;
}